<div class="alert__info">
	<div class="info">
		<h1 class="alert__title">{{data.message}}</h1>
		<p class="alert_text">{{data.info}}</p>
	</div>
	<div class="info">
		<a class="alert__button-product" href="{{data.link}}">Повернутися </a>
	</div>
</div>